*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    display: flex;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 400px;    
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(221, 36, 231);
    color: white;
    background-color: rgb(62, 60, 60);
    cursor: pointer;
}

.img img{
    width: 100px;
    border-radius: 50px;
}

.detail{
    text-align: center;    
    width: 100%;
    line-height: 30px;
}

.fw-bold{
    font-weight: bold;
}